* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 10px;
  font-size: large;
}
.grid {
  width: 375px;
  height: 550px;
  background: url('img/grid-background.jpg');
  background-size: cover;
  position: relative;
  font-size: 150px;
  text-align: center;
}

.control {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
}

.doodler {
  width: 60px;
  height: 85px;
  background: url('img/doodler.png');
  background-size: cover;
  position: absolute;
}

.platform {
  height: 15px;
  background-color: chocolate;
  position: absolute;
  border: 1px solid brown;
  border-radius: 25%;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin-top: 10px;
  padding: 10px;
}

.endGameBox {
  position: fixed;
  margin: 0 10%;
  top: -1000px;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 360px;
  height: 30%;
  justify-content: space-evenly;
  background-color: rgba(30, 152, 200, 0.5);
}

#startButton {
  position: relative;
  top: 200px;
  font-size: 50px;
}
